.hero-section {
  background-image: url("../assets/stage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ombre sombre */
  z-index: 1;
}

.hero-section .container {
  z-index: 2;
  position: relative;
}

.hero-section h1 .highlight {
  color: #ffc107; /* Jaune Bootstrap ou autre couleur vive */
}

.btn-primary:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}
