body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

/* Effet hover du dropdown */
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  display: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}
